<style type="text/css" media="screen">
	a{color:rgb(247,148,30);}
</style>

<div style="text-align:center;margin-top:20px;">
	<%= image_tag 'cspot_small.gif' %>
	<p>
		<%= link_to 'back to beginning', :action => 'index' %>
	</p>
</div>
<% @feed_entries.each do |entry| %>
	<p><%= link_to entry.title, {:action => 'show_entry', :id => entry.id} %></p>
	<p>&nbsp;</p>
<% end %>