<div style="text-align:center;margin-top:25px;">
	<% form_tag :action => 'find' do %>
	<%= image_tag 'cspot.gif' %>
		<p style="font-size:20px;line-height:25px;font-family:Arial;color:gray;"><strong>Discover copies of your content on the web.</strong></p>
		<div><%= text_field_tag 'search', 'http://', :style => 'width:500px' %>	<%= submit_tag 'Search' %></div>
	<% end %>
</div>