<div style="text-align:center;margin-top:15px;">
	<% form_tag :action => 'results' do %>
		<p style="font-size:22px;line-height:35px;font-family:Arial;"><strong>Who has copied your writings?</strong></p>
		<div><%= text_field_tag 'search', 'http://', :style => 'width:500px' %>	</div>
		<div style="padding:0px 0px"><%= submit_tag 'Spot Infringers' %></div>
	<% end %>
</div>