
<div id="content_main" class="full">
  <h1>Search Results</h1>

  <ul id="results_listing">
	<% @results.each do |result| %>
		<li>
	      <a href="<%= url_for({:controller => 'copy', :action => 'highlight', :s => @search.id, :url => result.url}) %>">

	        <span class="result_title"><%= result.title %></span>
	        <span class="result_summary"><%= result.abstract %></span>
	      </a>
	      <span class="result_url"><%= result.url %></span>
	    </li>
	<% end %>
  </ul>

</div>
