<p>
	<%= link_to 'back to beginning', :action => 'index' %>
</p>
<br/>
<% @entries.each do |entry| %>
	<p><%= link_to entry, {:controller => 'copy', :action => 'highlight', :s => @search.id, :url => entry} %></p>
<% end %>