<div class="badge-pitch clearfix">
  <p>Defend your site with a <%= link_to 'Protected Badge', badges_url %></p>
  <%= link_to(image_tag('badges/cspot_white_230x30.gif', :alt => "Protected by CopyrightSpot", :title => "Plagiarism Detected by CopyrightSpot | Do Not Copy", :width => '230px', :height => '30px'), badges_url) %>
</div>