<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= @page_title || 'CopyrightSpot - Free Plagiarism Detection' %></title>
  	 <%= stylesheet_link_tag 'main' %>
	 <%= javascript_include_tag :defaults %>
  </head>
  
  <body>
    <div id="paper">

    <div id="container">
      
      <div id="header">
        <div id="logo"><a href="/"><img src="/images/cspot_dark.gif" width="322" height="50" alt="CopyrightSpot"></a></div>
        <div id="nav">
			 <%= link_to 'About', {:controller => 'home', :action => 'about'}, {:class => "#{'active' if @page=='about'}"} %>
          <a href="http://blog.copyrightspot.com/">Blog</a>
			 <%= link_to 'Dashboard', {:controller => 'home', :action => 'dashboard'}, {:class => "#{'active' if @page=='dashboard'}"} %>

        </div>
      </div>
        
      <div id="content_area" class="clearfix">

			<%= yield %>

      </div>
      
      <div id="footer">
        &copy;2008 | <a href="http://getsatisfaction.com/copyrightspot/" class="feedback">Feedback and Help</a>

      </div>
              
    </div>
    </div>

<% unless Rails.environment == 'development' %>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5837200-1");
			pageTracker._trackPageview();
		</script>
<% end %>

  </body>
</html>