<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>CopyrightSpot - Under Maintenance </title>
	<style type="text/css">
	/* reset browser defaults */
	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		position: relative;
		margin: 0px;
		padding: 0px;
		padding-bottom: 70px;
		text-align: left;
		color: white;
		background-color: #ffffff;
	    font: normal 12px Arial, Helvetica, sans-serif;
	    color: #545454;
		padding: 30px;
		text-align: center;
	}

	img {
		border: 0px;
	}
 	p, h2 {
		margin-bottom: 20px;
	}

	</style>
</head>
<body>
                        
<div style="width: 600px; padding: 20px; border: 1px dotted #707070; margin: 50px auto; background-color: #ffffff;">
<h2>Maintenance Time</h2>

<p style="font-size: 16px;">CopyrightSpot’s Web site is getting an update. We apologize for any inconvenience.</p>


</div>
</body>
</html>